<app-cockpit 
(serverOnAWSCreated)="onServerOnAWSAdded($event)" 
(azureCreated)="onServerOnAzureAdded($event)"
(gcpCreated)="onServerOnGCPAdded($event)">
</app-cockpit>
<app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
  <p-card class="server-info ">
    <p>Name: {{ serverElement.name }}</p>
    <p #contentParagraph [ngClass]="getParagraphStyle(serverElement)">
      Content: {{serverElement.content}}
    </p>
    <p>Provider: {{serverElement.cloudProvider}}</p>
  </p-card>
</app-server-element>