<p-card>
  <p class="p-text-center p-text-bold">Add new Servers or blueprints!</p>

  <div class="card">
    <div class="p-fluid">
      <div class="p-field">
        <label for="server-name">Server Name</label>
        <input id="server-name" type="text" #serverNameInput pInputText />
      </div>
      <div class="p-field">
        <label for="server-content">Server Content</label>
        <input id="server-content" type="text" #serverContentInput pInputText />
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="p-d-flex p-jc-end">
      <button (click)="onAddServer(serverNameInput)" pButton type="button" label="Add Server"
        class="p-button-success"></button>
      <button (click)="onAddBlueprint(serverNameInput)" pButton type="button" label="Add Server Blueprint"></button>
    </div>
  </ng-template>
</p-card>